// Cores
$background-color: #f5f6fa;
$header-background-color: #182C61;
$menu-link-color: #fff;
$product-button-background-color: #44bd32;
$product-button-hover-color: #4cd137;

// Fontes
$font-family: 'Roboto', sans-serif;

// Espaçamento
$padding-large: 56px 0;
$padding-medium: 16px 0;
$margin-top-large: 40px;
$margin-bottom-medium: 32px;
$margin-left-medium: 24px;
$padding-small: 8px 0;

// Tamanhos
$container-max-width: 1024px;
$container-max-width-small: 80%;
$grid-column-gap: 1%;
$grid-row-gap: 4%;
$product-border-radius: 16px;
$product-button-border-radius: 8px;
$grid-template-columns-large: repeat(3, 32.66%);
$grid-template-columns-medium: repeat(2, 48.5%);
$grid-column-gap-medium: 3%;
